<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>{% block title %}Joseph Redmon - Survival Strategies for the Robot Rebellion{% endblock %}</title>
        <meta name="author" content="Joseph Redmon">
                <meta name="msvalidate.01" content="305CD82AE65FC4C9597F80416C1271B7" />
		<link rel='stylesheet' media='screen' href='{{ STATIC_URL }}css/base.css' />
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:300,300italic,100italic,100' rel='stylesheet' type='text/css'>
		{% block favicon %}
		<link rel='icon' type='image/png' href='{{ STATIC_URL }}icon.png' />
		{% endblock %}
		{% block head %}
		{% endblock %}
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-37236849-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>

	<body>
		<div class=top>
			{% block header %}{% endblock %}
			<div class='green bar'></div>
			<div class='blue bar'></div>
            <div class=main>
			<ul class="nav">
				<li><a href="/">home</a></li>
				<li><a href="/projects/">projects</a></li>
				<li><a href="/publications/">publications</a></li>
				{% comment %}<li class=relative><a href="/darknet/"><img id=dncircle src="{{ STATIC_URL }}img/darknet_notext.png"></img>darknet</a></li>{% comment %}
				{% comment %}<li><a href="/reading_list/">reading list</a></li>{% endcomment %}
				<li><a href="/resume/">résumé</a></li>
			</ul>
            </div>
			<div class=break></div>
		</div>
		{% block body %}
		{% endblock %}
        {% comment %}
		<script src='{{ STATIC_URL }}lib/jquery/jquery-1.8.3.min.js'></script>
		<script src='{{ STATIC_URL }}js/bars.js'></script>
        {% endcomment %}

	</body>
</html>
