<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>{% block title %}Joseph Redmon - Survival Strategies for the Robot Rebellion{% endblock %}</title>
        <meta name="author" content="Joseph Redmon">
		<link rel='stylesheet' media='screen' href='{{ STATIC_URL }}css/base.css' />
		<link rel='icon' type='image/png' href='{{ STATIC_URL }}icon.png' />
		{% block head %}
		{% endblock %}
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-37236849-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>

	<body>
		<div class=top>
			{% block header %}{% endblock %}
			<div class='green bar'></div>
			<div class='blue bar'></div>
			<ul class="nav">
				<li><a href="/">home</a></li>
				<li><a href="/projects/">projects</a></li>
				<li><a href="/blog/">blog</a></li>
			</ul>
			<div class=break></div>
		</div>
		{% block body %}
		{% endblock %}
        {% comment %}
		<script src='{{ STATIC_URL }}lib/jquery/jquery-1.8.3.min.js'></script>
		<script src='{{ STATIC_URL }}js/bars.js'></script>
        {% endcomment %}

	</body>
</html>
