<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>{% block title %}Joseph Redmon - Survival Strategies for the Robot Rebellion{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Joseph Redmon">
                <meta name="msvalidate.01" content="305CD82AE65FC4C9597F80416C1271B7" />
		{% block favicon %}
		<link rel='icon' type='image/png' href='{{ STATIC_URL }}icon.png' />
		{% endblock %}
		{% block head %}
		{% endblock %}
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-37236849-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>

	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>
