{% extends 'base.html' %}
	{% block head %}
        <meta name="description" content="{{ post.description }}">
	{% endblock %}
	{% block title %}{{ post.title }}{% endblock %}

    {% block body %}
    <div class="main markdown">
        <p id=dnlogo>
            {% if post.logo %}
                <img  src="{{ post.logo.url }}"></img>
            {% else %}
                <img  src="{{ STATIC_URL }}img/darknet.png"></img>
            {% endif %}
        </p>
        <h1>{{ post.title }}</h1>
        {{ post.html|safe }}
    </div>
    {% endblock %}
