{% extends 'base.html' %}
{% block head %}
    <meta name="description" content="I'm Joe Redmon, a freelance programmer, computer scientist, and data analyzer.">
{% endblock %}

{% block header %}
<h1 class="header">Joseph Chet Redmon</h1>
<div class='green bar'></div>
<div class='blue bar'></div>
{% endblock %}

{% block body %}

<div class="container main">
<h1>Welcome to my website!</h1>
<p>
I am a computer scientist with a love of machine learning, data analysis, and low level program design and implementation. I work on computer vision with <a target=_blank href = "http://homes.cs.washington.edu/~santosh/">Santosh</a>, <a target=_blank href = "http://www.cs.berkeley.edu/~rbg/">Ross</a>, <a target=_blank href="https://homes.cs.washington.edu/~ztatlock/">Zach</a>, and <a target=_blank href="http://homes.cs.washington.edu/~ali/">Ali</a>.
</p>
<p>
Outside of computer science, I enjoy skiing, hiking, rock climbing, and playing with my Alaskan malamute puppy, Kelp.
</p>
<h1>What people are saying.</h1>
<blockquote>
... Either The Least Or Most Employable Person Ever
<footer>- The Huffington Post</footer>
</blockquote>
<blockquote>
He knows how to do the internet.
<footer>- Lauren Rosenthal, former intern at the Pittsburgh Post-Gazette</footer>
</blockquote>
<blockquote>
I think the little pony resume is probably not the right choice for grad school.
<footer>- Daniel Scharstein, inventor of the digital sundial</footer>
</blockquote>
<h1>I've worked with.</h1>
<div id=ponies>
    <a target=_blank href=http://uwplse.org/ ><img src="{{ STATIC_URL }}img/plse.png"   ></img></a>
    <a target=_blank href=http://www.zerocater.com ><img src="{{ STATIC_URL }}img/ZeroCater.png"               ></img></a>
    <a target=_blank href=http://research.google.com/ ><img src="{{ STATIC_URL }}img/gpony.png"                ></img></a>
    <a target=_blank href=http://kucb.org><img src="{{ STATIC_URL }}img/KUCB.png"                              ></img></a>
    <a target=_blank href=http://www.ibm.com ><img src="{{ STATIC_URL }}img/IBM.png"                           ></img></a>
    <a target=_blank href=http://www.nist.gov ><img src="{{ STATIC_URL }}img/NIST.png"                         ></img></a>
</div>
<h1>Find me.</h1>
<div id=external>
    <a target=_blank href=https://www.kaggle.com/users/16295/pjreddie><img src="{{ STATIC_URL }}logos/kaggle.png"></img></a>
    <a target=_blank href=https://github.com/pjreddie ><img src="{{ STATIC_URL }}logos/github.png"></img></a>
    <a target=_blank href=https://plus.google.com/u/0/107936228352364370349/posts><img src="{{ STATIC_URL }}logos/g+.png"></img></a>
    <a target=_blank href=https://twitter.com/pjreddie><img src="{{ STATIC_URL }}logos/twitter.png"></img></a>
</div>
</div>
{% endblock %}
