{% extends 'base.html' %}

{% block header %}
<h1 class="header">Joseph Chet Redmon</h1>
{% endblock %}

{% block body %}

<div class="container main">
<h1>Welcome to my website!</h1>
<p>
I am a computer scientist with a love of machine learning, data analysis, and low level program design and implementation. I’m an independent and strongly motivated worker who loves tackling challenging problems. I also have a strong background in both theoretical and applied mathematics.
</p>
<p>
I’m not afraid to get my hands dirty. I play well with pointers, I can recognize a martingale when I see one, and I never use an IDE when vim will do. Outside of computer science, I enjoy skiing, hiking, rock climbing, and playing with my Alaskan malamute puppy, Kelp.
</p>
</div>
{% endblock %}
