{% extends 'base.html' %}
	{% block head %}
		<link rel='stylesheet' media='screen' href='{{ STATIC_URL }}css/papers.css' />
        <meta name="description" content="My publications.">
	{% endblock %}
	{% block title %}Publications{% endblock %}
	{% block body %}
		<div class=main>
			<div class=title>
			<h1>Publications</h1>
			</div>
                    {% for paper in papers %}
                        {% include "paper.html" %}
                    {% endfor %}
            </div>
{% endblock %}
