{% extends 'base.html' %}
	{% block head %}
		<link rel='stylesheet' media='screen' href='{{ STATIC_URL }}css/projects.css' />
        <meta name="description" content="These are the projects I'm currently working on or have worked on in the past.">
	{% endblock %}
	{% block title %}Projects{% endblock %}
	{% block body %}
		<div class=main>
			<div class=title>
			<h1>Projects</h1>
			</div>
			{% for project in projects %}
				<a href="{% url project project.slug %}">
					<div class=project>
					<h3>{{ project.title }}<span class=date>{{ project.formatted_date }}</span></h3>
					<div class=break></div>
						{% if project.description %}
							<p>{{ project.description }}</p>
						{% endif %}
					</div>
				</a>
			{% endfor %}
		</div>
{% endblock %}
