{% extends 'base.html' %}
	{% block head %}
		<link rel='stylesheet' media='screen' href='{{ STATIC_URL }}css/readinglist.css' />
        <meta name="description" content="These are the projects I'm currently working on or have worked on in the past.">
	{% endblock %}
	{% block title %}Reading List{% endblock %}
	{% block body %}
		<div class=main>
			<div class=title>
			<h1>Reading List</h1>
			</div>
            {% for category in categories %}
                {% if category.papers.all %}
                    <h2>{{ category.name }}</h2>
                    {% for paper in category.papers.all %}
                        {% include "paper.html" %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% if uncategorized %}
                <h2>Other</h2>
            {% endif %}
			{% for paper in uncategorized %}
                {% include "paper.html" %}
			{% endfor %}
		</div>
        <form action = "." method="post"> {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Go!" />
        </form>
{% endblock %}
