html, body{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:19px;
	margin:0;
	padding:0;
	background-color:transparent;
	font-weight:300;
}

p{
	font-weight:100;
	letter-spacing:1px;
}

body{
	color:#0ff;
}


html{
	background-color:#001;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.main{
	margin:2em auto;
	width:50em;
}

.main img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width:100%;
}

.header{
	color:#0f0;
	font-family: Monaco, "Lucida Console", monospace;
	font-size:4em;
	margin-bottom:.25em;
	text-align:right;
	font-weight:normal;
	border:none;
}

h1{
	font-size:2.5em;
	font-weight:100;
	color:#f0f;
	border-bottom:solid 1px #f0f;
}
h2{
	font-weight:100;
	color:#f80;
	float:right;
}
h3{
	font-weight:100;
	color:#ff0;
}
h4{
	font-weight:100;
	color:#f00;
}



ul.nav{
	font-family: Monaco, "Lucida Console", monospace;
	list-style-type:none;
	margin:0;
	padding:0;
	float:right;
}
ul.nav li{
	display:inline;
}
ul.nav li a{
	text-decoration:none;
	color:#0ff;
	padding:1em 4em;
}
ul.nav li a:hover {
	border-bottom:solid 3px #0FF;
}
div.break{
	clear:both;
}
div.green{
	background-color:#0f0;
	height:.5em;
	width:100%;
	box-shadow: 0px 0px 100px 10px #0f0;
	float:right;
	transition:box-shadow 1s linear;
	-moz-transition:box-shadow 1s linear; /* Firefox 4 */
	-webkit-transition:box-shadow 1s linear; /* Safari and Chrome */
	-o-transition:box-shadow 1s linear; /* Opera */
}

div.blue{
	margin:1em 0em;
	background-color:#0ff;
	height:.5em;
	width:90%;
	float:right;
	box-shadow: 0px 0px 100px 10px #0ff;
	transition:box-shadow 1s linear;
	-moz-transition:box-shadow 1s linear; /* Firefox 4 */
	-webkit-transition:box-shadow 1s linear; /* Safari and Chrome */
	-o-transition:box-shadow 1s linear; /* Opera */
}

.light{
	position:relative;
	left:-10%;
	width:2em;
	height:.5em;
	box-shadow: 0px 0px 50px 30px #0f0;
	transition:left 1s linear;
	-moz-transition:left 1s linear; /* Firefox 4 */
	-webkit-transition:left 1s linear; /* Safari and Chrome */
	-o-transition:left 1s linear; /* Opera */
}

.top{
	min-width:55em;
}
