html, body{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:20px;
	margin:0;
	padding:0;
	background-color:transparent;
	font-weight:300;
}

a{
	text-decoration:none;
	color: inherit;
}

p{
	font-weight:100;
	letter-spacing:1px;
}

body{
	color:#0ff;
}

hr{
	width: 80%;
	background-color:#0ff;
	border:none;
	height: 1px;
}

html{
	background-color:#001;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.main{
	margin:2em auto;
	width:35em;
}

.main img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width:100%;
}

.header{
	color:#0f0;
	font-family: Monaco, "Lucida Console", monospace;
	font-size:4em;
	margin-bottom:.25em;
	text-align:right;
	font-weight:normal;
	border:none;
}

h1{
	font-size:48px;
	font-weight:100;
	color:#f0f;
	border-bottom:solid 1px #f0f;
}
h2{
	font-weight:100;
	color:#f80;
}
h3{
	font-weight:100;
	color:#ff0;
}
h4{
	font-weight:100;
	color:#f00;
}



ul.nav{
	font-family: Monaco, "Lucida Console", monospace;
	list-style-type:none;
	margin:0;
	padding:0;
	float:right;
}
ul.nav li{
	display:inline;
}
ul.nav li a{
	text-decoration:none;
	color:#0ff;
	padding:1em 4em;
}
ul.nav li a:hover {
	border-bottom:solid 3px #0FF;
}
div.break{
	clear:both;
}
.bar.green{
	background-color:#0f0;
	height:.5em;
	width:100%;
	box-shadow: 0px 0px 100px 10px #0f0;
	float:right;
}

.bar.blue{
	margin:1em 0em;
	background-color:#0ff;
	height:.5em;
	width:90%;
	float:right;
	box-shadow: 0px 0px 100px 10px #0ff;
}

.bar{
	transition:box-shadow .5s linear;
	-moz-transition:box-shadow .5s linear; /* Firefox 4 */
	-webkit-transition:box-shadow .5s linear; /* Safari and Chrome */
	-o-transition:box-shadow .5s linear; /* Opera */
}


.top{
	min-width:55em;
}

.sc{
	font-variant:small-caps;
}

